body    {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3px;
}

.header-text    {
    font-weight: bold;
    text-shadow: 2px 2px 8px #535353;
}

.card-shadow    {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.reveal {
    display: block;
}